version: '3.8'
# docker compose file
services:
  my-app:
    image: todo-app-spring-react:1.0
    ports:
      - "8080:8080"
    depends_on:
      postgres-db:
        condition: service_healthy
  postgres-db:
    image: postgres:latest
    container_name: postgres_db
    environment:
      POSTGRES_DB: demo_db
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U root -d demo_db" ]
      interval: 10s
      timeout: 5s
      retries: 10

volumes:
  postgres_data:
    driver: local